beir
datasets
faiss-cpu
fschat[model_worker,webui]
google-generativeai
joblib
matplotlib
nltk
numpy
openai
pandas
pytest
rank-bm25
regex
requests
rouge-score
scikit-learn
sentence-transformers
torch
torchaudio
torchvision
tqdm
transformers
